<% cache do %>
  <% sleep 2 %>
<h2>About App</h2><br><br>
<% end %>
  <div class="container-fluid" id="aboutme">
   <p>This app will showcase the beauty that is vintage, displayed with charming bikes with baskets.
      I decided to focus on vintage bikes solely because I believe they are beautiful.  And, I hope to
      ride one, one day, if I learn to ride bikes, because I don't know how, but I'm willing to learn,
      even though I've tried many times before, but fail to learn, because I don't like falling,
      and it always feel like I'm about to fall, hey #DontJoudgeMe lol lol. We all know those things aren't balance, look
      at the width of those wheels, come on haha.  And though flawed, like us all, they still manage
      to be beautiful, like us all. #HappyBrowsingMyBeginning :)
    </p>
    <%= image_tag("vbike3.jpg", class: "img-responsive vin-bike") %>

  </div> <!--end aboutme con div-->
