<div class="container-fluid">

        <div class="form-group1">
          <h1>Contact Me</h1>
          <p> For more Information, please contact me at: <br>
            <span class="glyphicon glyphicon-phone">Phone: 555-555-5555 </span> <br>
            <span class="glyphicon glyphicon-envelope">Email: myemail@gmail.com </span><br>
            <strong>Social Media</strong>:<br>
            <a href="https://www.instagram.com/" target="_blank"><span class="glyphicon glyphicon-search"></span> My Instagram </a> <br>
            <a href="https://www.linkedin.com/" target="_blank"><span class="glyphicon glyphicon-search"></span> My LinkedIn </a> <br>
          </p>
        </div> <!-- END FORM-GROUP1-->

        <div class="contact-row" id="contact-form">
          <form class="form-group col-lg-5 col-sm-12">
            <div id="contact-name">
              <label for="name">Name</label>
                <input placeholder="Enter your name" type="text" class="form-control" required="required">
              </div><!--END NAME DIV-->
              <div id="phone">
              <label for="phone"> Phone </label>
                <input placeholder="Your phone number" type="textbox" class="form-control" required="required">
              </div> <!--END PHONE DIV-->
              <div id="email-address">
              <label for="email">*Email Address</label>
                <input placeholder="Enter your email" type="email" class="form-control" required="required">
              </div><!--END EMAIL DIV-->
              <div id="contact-message">
                <label for="message-box">*Message</label>
                  <textarea placeholder="Your message here" id="message-box" style="resize: none; background-color: rgb(242, 208, 150);" cols="40" rows="5" class="form-control" required="required">                  </textarea>
                    <p id="visible-comment"></p>
                    <p id="char-count"></p>
              </div><!--END MESSAGE DIV-->
              <div class="msg-button">
                <button id="button" type="submit" value="send message" class="btn btn-success">Submit</button>
              </div><!--END MESSAGE BUTTON-->
          </form><!--END FORM-->
        </div><!--END CONTACT-ROW-->
    </div>




<!--
<div class="container-fluid" id="contactme">

</div> <!--end contactme con div-->
