<h2>Contact Me</h2><br><br>
  <div class="container-fluid" id="contactme">
    <div class="form-group1">
      <p> For more Information, please contact me at: <br>
        <span class="glyphicon glyphicon-phone">Phone: 555-555-5555 </span> <br>
        <span class="glyphicon glyphicon-envelope">Email: myemail@gmail.com </span><br>
        <strong>Social Media</strong>:<br>
        <a href="https://www.instagram.com/" target="_blank"><span class="glyphicon glyphicon-search"></span> My Instagram </a> <br>
        <a href="https://www.linkedin.com/" target="_blank"><span class="glyphicon glyphicon-search"></span> My LinkedIn </a> <br>
      </p>
    </div> <!-- END FORM-GROUP1-->
  </div> <!--end container-fluid div-->
