<div class="row">
  <% @orders.each do |order| %>
    <div class="col-sm-6">
        Order # <%= order.id %>:
        <%= link_to orders_path, order %>
        <%= order.product.description if order.product %>
        <strong>$ <%= order.product.price if order.product %></strong>
    </div><!-- /col -->
  <% end %>
</div>
