<div class="panel panel-default">
  <div class="panel-body">
    <p id="notice"> We have received your order.  Thank you for your purchase! <br> :-) </p>
  </div><!-- panel-body -->
</div><!-- panel -->
