// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product-reviews p {
  font-size: medium;
  font-family: serif;
  font-weight: 540;
  line-height: 0.75em;
}

#product-cmts {
  background-color: #f8f9faa1;
  padding: 5em;
  background-size: cover;
}

h6 {
  text-align: left;
  padding-bottom: 0.5em;
  text-decoration: underline;
  color: #000000;
  font-weight: 600;
}

.star {
  vertical-align: middle;
  border-style: none;
}
