// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav ul li {
  display: inline-block;
  letter-spacing: 0.3em;
  padding: 1em;
  font-family: K2D;
  font-size: 2.1em;
  font-weight: 600;
  text-decoration: underline;
}

h1  {
  margin-bottom: 0;
  padding-top: 15px;
  font-size: 2em;
  padding-bottom: 8px;
  margin-top: 2em;
  margin-left: -15px;
  margin-right: -15px;
  text-decoration: underline;
  font-weight: 600;
}

h2 {
  padding-top: 8px;
  font-size: 1.5em;
  margin-bottom: 0;
  line-height: 2;
  margin-left: -15px;
  margin-right: -15px;
  font-weight: 600;
}

h3 {
  font-size: 2em;
}

$font-stack: serif, sans-serif;
$primary-color: #4f0000;

body {
  font: 100% $font-stack;
  color: $primary-color;
  text-align: center;
  background-image: url("https://mobileimages.lowes.com/product/converted/501141/5011419232734.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  font-weight: 600;
}

img {
  width: 250px;
  margin-top: 2em;
  padding: 5px;
  margin-bottom: 2em;
  height: 200px;
}

p {
  margin-top: 0;
  padding: 2em;
  margin-left: -15px;
  margin-right: -15px;
  font-size: 1.2em;
  font-weight: 530;
}

#contactme {
  text-align: center;
}

#products {
  font-size: 1.2em;
  margin-bottom: 1em;
  line-height: 0.75;
  margin-left: -15px;
  margin-right: -15px;
  font-weight: 600;
}

#prod-title {
  padding-top: 0px;
  margin-top: 10px;
}

footer {
  font-size: 1em;
  color: #4f0000;
  text-align: right;
  margin-right: 270px;
}
