<% if signed_in? %>


    <h4>Add a review:</h4>
    <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
      <p>
        <%= f.label :body, "Comments" %>
        <%= f.text_area :body, class: "comment_body" %>
      </p>
      <p>
        <div class="rating"></div>
      </p>
      <p class="review-submit">
        <%= f.submit "Submit" %>
      </p>
    <% end %>

<% end %>
