<p id="notice"><%= notice %></p>


<h2 id="prod-title">Products</h2>
<br>


<div class="container-fluid">
  <div class="row col-xs-12 col-sm-3 col-lg-12">
    <% @products.each do |product| %>
      <%= render partial: "product", locals: {product: product} %>
    <% end %>
  </div>
</div> <!-- end row -->

<br>

<div class="btn btn-success">
  <a class="new-product" href="/products/new">New Product</a>
</div> <!-- end btn div -->
