<p id="notice"><%= notice %></p>


<h2 id="prod-title">Products</h2>
<br>
<div class="container-fluid", id="products-page">

  <div class="row col-xs-12 col-sm-3 col-lg-12">
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
  </div>

</div>

<br>

<% if signed_in? && current_user.admin? %>

    <div class="btn btn-success">
      <a class="new-product" href="/products/new">New Product</a>
    </div> <!-- end btn div -->
<% end %>
